@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: poppins;
}

h1{
  padding: 0;
  margin: 0;

}

.background{
  background: url("./Assets/MainImage.png"),linear-gradient(90deg, rgba(101, 101, 101, 0.5) 0%, rgba(101, 101, 101, 0.15) 100%) ;
  background-size: cover;
  background-repeat: no-repeat;
}

.input1background{
  background: url("./Assets/Vector.png");
  background-repeat: no-repeat;
  background-position: 12px center;
}
.input2background{
  background: url("./Assets/Vector (1).png");
  background-repeat: no-repeat;
  background-position: 12px center;
}
.input3background{
  background: url("./Assets/date.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.input4background{
  background: url("./Assets/time.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.input5background{
  background: url("./Assets/person.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.input6background{
  background: url("./Assets/baggage.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}

.button2background{
  background: url("./Assets/phone.png");
  background-repeat: no-repeat;
  background-position: 1% center;
}

input{
  outline: none;
}

li{
  cursor: pointer;
}

body{
  overflow-x: hidden;
}